@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,900,300);

body { /*every page*/
  margin:0px;
  padding:0px;
  overflow-x:hidden;
}
.nav {
  position:absolute;
  top:60px;
  right:60px;
}
.lightButton {
  color:white;
  text-decoration:none;
}

.ghostButton {
  color:white;
  text-decoration:none;
  margin-left:20px;
  border:2px solid white;
  padding:10px 20px;
  border-radius:999px;
}
.ghostButton:hover {
  background:white;
  color:#444C54;
  font-weight:600;
  margin-left:19.8px; /* Whacky numbers prevent font weight change from mattering */
  padding-left:19px;
}

.heroWrap {
  font-family: 'Raleway', sans-serif;

  padding:120px 0 120px 0;
  position:relative;
  box-sizing: border-box;
  height: 600px;
  
  background-image: url("https://placeimg.com/1000/800/tech");
}

.centered {
  padding:0 100px;
  max-width: 900px;
  margin:0 auto;
}
.center-align {
  text-align:center;
}
.right-align {
  text-align:right;
}
.heroLink {
  text-decoration:none;
}
.pageTitle {
  color:white;
  font-size:6em;
  margin:0;
}
.pageHeader {
  color:rgba(255,255,255,0.5);
  font-size:2em;
  font-weight:300;
  margin:0;
}
.pageHeader > b {
  color: white;
}

.cta-container {
  box-sizing: border-box;
  
  width: 80%;
  height: 100px;
  margin: auto;
  margin-top: 70px;
  display: flex;
}

.cta-button {
  box-sizing: border-box;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  background:#1F8C68;
  color:white;
  text-decoration:none;
  text-align:center;
  
  border-radius:4px;
  transition:background 0.1s ease-out;
}
.cta-button:hover {
  background:#319E7A;
}

.cta-trynow {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.cta-textbox { /* REALLY ANNOYING HACK because vertically-centering text in CSS is IMPOSSIBLE */
  display: block;
  width: 100%;
  height: 52px; /* 14px + 28px + 10px */
}

.cta-trynow > .cta-textbox > .cta-main {
  display: block;
  font-size:28px;
  height: 28px;
  font-weight:700;
  margin-bottom: 10px;
}
.cta-trynow > .cta-textbox > .cta-sub {
  display: block;
  font-size:14px;
  height: 14px;
  color:rgba(255,255,255, 0.6);
}

.cta-learnmore {
  width: 30%;
  margin-left: auto;
}
.cta-learnmore > .cta-main {
  font-size:18px;
  font-weight:700;
  width: 100%;
}

.flex-container {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  padding:20px 0px;
}
.boxDescription {
  max-width:180px;
  font-family: 'Raleway', sans-serif;
  background:rgba(255,255,255,0.7);
  margin:20px;
  padding:40px;
  border-radius:4px;
}
.boxHeader {
  font-size:22px;
  margin:0px;
}
.boxContent {
  display:block;
  margin-top:16px;
}
.darkBack {
  background:#252E35;
}
.lightBack {
  background:#444C54;
}
.mainImage {
  background: url("http://i.imgur.com/tJANSLT.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.imageFade {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
}

.sectionHeader {
  text-align:center;
  color:white;
  padding-top:60px;
  margin:0px;
  font-size:32px;
  font-family: 'Raleway', sans-serif;
}
.sectionSubheader {
  text-align:center;
  margin:0px;
  padding-top:6px;
  font-size:16px;
  font-family: 'Raleway', sans-serif;
  color:rgba(255, 255, 255, 0.4);
}

.teamIcon { /* team page*/
  border-radius: 100%;
  width: 80px;
  height: 80px;
  padding: 20px;
  cursor: pointer;
}
#memberBio {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
}
.teamBio {
  align-self: center;
  max-width:500px;
  margin:0 auto;
}

.fadeout {
  opacity: 0;
}

.trans {
  -o-transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	transition: all 1s;
}
